<li class="item bar" data-id="<%- id %>" data-emphasis="<%- emphasis %>">
  <div class="left">
    <div class="title"><%- title %></div>
  </div>
  <div class="right">
    <span class="bar">
      <span class="legend"><%- number.toFixed(decimals) %> <%= typeof(unit == 'percentage') ? '%' : '' %></span>
    </span>
    <span class="divisions">
      <span class="division">
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
      </span>
      <span class="division">
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
      </span>
      <span class="division">
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
      </span>
      <span class="division">
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
      </span>
      <span class="division">
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
      </span>
      <span class="division">
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
      </span>
      <span class="division">
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
      </span>
      <span class="division">
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
      </span>
      <span class="division">
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
      </span>
      <span class="division">
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
        <span class="division"></span>
      </span>
    </span>
  </div>
</li>
