<li class="item barpie" data-id="<%- id %>" data-emphasis="<%- emphasis %>">
  <span class="barpie">
    <div class="legend"> <%- number.toFixed(decimals) %> <%= typeof(unit != 'percentage') ? '' : '%' %> </div>
  </span>
  <span class="legend" title="<%- title %>"> <%- title %></span>
  <!-- <span class="divisions">
    <span class="division">
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
    </span>
    <span class="division">
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
    </span>
    <span class="division">
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
    </span>
    <span class="division">
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
    </span>
    <span class="division">
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
    </span>
    <span class="division">
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
    </span>
    <span class="division">
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
    </span>
    <span class="division">
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
    </span>
    <span class="division">
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
    </span>
    <span class="division">
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
      <span class="division"></span>
    </span>
  </span> -->
</li>
